<!-- Start deneb_contact section -->
<section class="deneb_contact cantact_v2 section_padding">
<div class="container">
	<div class="row">
		<div class="col-lg-5">
			<div class="contact_form">
				<form action="https://formsubmit.io/send/texthasitha@gmail.com">
					
					<div class="row">
						
						<div>
							<div class="form_group">
								<input type="email" class="form_control" placeholder="Email Address" name="email" required>
							</div>
						</div>
						<div >
							<div class="button_box">
								<button class="deneb_btn" type="submit">Submit Now</button>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="contact_form">
				<form action="https://formsubmit.io/send/texthasitha@gmail.com">
					
					<div class="row">
						
						<div>
							<div class="form_group">
								<input type="email" class="form_control" placeholder="Email Address" name="email" required>
							</div>
						</div>
						<div >
							<div class="button_box">
								<button class="deneb_btn" type="submit">Submit Now</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
</section>
<!-- End deneb_contact section -->